﻿@page
@model Honan.PLI_CertificateOfCurrencyModel
@{
    ViewData["Title"] = "PLI_CertificateOfCurrency";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="container justify-content-end">
                    <div style="float:right;width:auto;overflow:hidden;padding-top:1em">
                        <a class="hover-effect text-decoration-none pr-2" asp-page="PublicLiabilityInsurance">
                            <div class="d-flex flex-column py-2" style="font-size:small">
                                <img src="~/image/Common/Back_ICON.svg" alt="..." class="img-title-button img-responsive" width="40" height="40">
                            </div>
                        </a>
                    </div>
                    <div style="float:right;width:auto;overflow:hidden;padding-right:1em;padding-top:1em">
                        <a class="hover-effect text-decoration-none pr-3 pt-3" asp-page="/Index">
                            <div class=" d-flex flex-column py-2" style="font-size:small">
                                <img src="~/image/Common/Home_ICON.svg" alt="..." class="img-title-button img-responsive" width="40" height="40">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="container pb-0" style="margin:20px;">
                    <div class="row pb-0 blueGradient">
                        <div class="col-12 p-0 mb-n4 blueGradient" style="z-index:10;">
                            <div class="row text-white">
                                <div class="col" style="margin: 20px;">
                                    <div style="font-size: 26px;">
                                        Public Liability Insurance
                                    </div>
                                    <div style="font-size: 26px;">
                                        Certificate of Cover
                                    </div>
                                    <div style="font-size: 12px;">
                                        A Certificate of Currency is a legal document that demonstrates you have current
                                        Public Liability Insurance.</br>
                                        This document is sometimes required by Council and/or Facility Management.
                                    </div>
                                </div>
                                <div class="col">
                                    <img src="~/image/PublicLiability/PubLiab_COC_IMAGE.png" alt="..." class="rounded-lg" style="width: 90%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-n4">
                        <div class="col-12 pl-0 pr-0 bg-light">
                            <div class="card border-dark pt-0 pl-0 border-left-0 border-right-0 border-top-0">
                                <div class="card-header bg-dark text-white">
                                    Enter your club or association details
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <form asp-page-handler="Download" method="post" target="_blank">
                                            <div class="form-row">
                                                <div class="form-group col-md-9">
                                                    <label for="inputState" class="font-weight-bold">State</label>
                                                    <select id="inputState" asp-for="stateAbbr" asp-items="Model.States">
                                                        <option value="">Choose ...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-9">
                                                    <label for="inputClub" class="font-weight-bold">Club/Association</label>
                                                    <select id="inputClub" asp-for="clubName" disabled>
                                                        <option selected>Choose...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <input type="image" disabled src="~/image/Common/Download_BTTN.svg" name="saveForm" class="submit" id="saveForm" style="width:120px; height:40px;" />
                                        </form>
                                        <div class="row d-flex justify-content-start mt-2">
                                            <div class="container">
                                                <div class="col-12">
                                                    <p style="font-size:small; font-weight:700">If you are unable to find your club/association, please contact Honan for assistance.</p>
                                                </div>
                                                <div class="col-12">
                                                    <p style="font-size:small; font-weight:700">Phone: <span style="color:darkblue">+61 03 9947 4343</span></p>
                                                </div>
                                                <div class="col-12">
                                                    <p style="font-size:small; font-weight:700">Email: <a class="text-decoration-none" style="color:darkblue" href="mailto:info@honan.com.au">info@honan.com.au</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</section>

@section scripts{

    <script>
        $("#inputClub").prop("disabled", true); 
        $("#saveForm").prop("disabled", true);
        $(function () {
            $("#inputState").on("change", function () {
                var stateName = $(this).val();
                $("#inputClub").empty();
                $("#saveForm").prop("disabled", true);
                $("#inputClub").prop("disabled", true); 
                $("#inputClub").append("<option value=''>Choose ...</option>");
                $.getJSON('?handler=Clubs&stateName=' + stateName, (data, status, xhr) => {
                    $("#inputClub").prop("disabled", false); 
                    $.each(data, function (i, item) {
                        $("#inputClub").append('<option value="' + item.name + '">' + item.name +'</option>');
                    });
                });
            });
        });

        $(function () {
            $("#inputClub").on("change", function () {
                $("#saveForm").prop("disabled", false);
                });
            });
    </script>
}
