﻿@page
@model Honan.PLI_UpgradingCoverModel
@{
    ViewData["Title"] = "PLI_UpgradingCover";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    <section class="justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="container justify-content-end">
                        <div style="float:right;width:auto;overflow:hidden;padding-top:1em">
                            <a class="hover-effect text-decoration-none pr-2" asp-page="PublicLiabilityInsurance">
                                <div class="d-flex flex-column py-2" style="font-size:small">
                                    <img src="~/image/Common/Back_ICON.svg" alt="..." class="img-title-button img-responsive" width="40" height="40">
                                </div>
                            </a>
                        </div>
                        <div style="float:right;width:auto;overflow:hidden;padding-right:1em;padding-top:1em">
                            <a class="hover-effect text-decoration-none pr-3 pt-3" asp-page="/Index">
                                <div class=" d-flex flex-column py-2" style="font-size:small">
                                    <img src="~/image/Common/Home_ICON.svg" alt="..." class="img-title-button img-responsive" width="40" height="40">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="container pb-0" style="margin:20px;">
                        <div class="row pb-0 blueGradient">
                            <div class="col-12 p-0 mb-n4 blueGradient" style="z-index:10;">
                                <div class="row text-white">
                                    <div class="col" style="margin: 20px;">
                                        <div style="font-size: 26px;">
                                            Public Liability Insurance
                                        </div>
                                        <div style="font-size: 26px;">
                                            Upgrading Cover
                                        </div>
                                        <div style="font-size: 12px;">
                                            All clubs receive the basic level of cover chosen by your hockey State or Territory association for
                                            Non-Medicare Medical and Loss of Income benefits. Clubs, Teams and Individuals can choose to
                                            upgrade from the standard level of cover to a higher level of cover providing players with increased
                                            benefits and reimbusements of Non-Medicare Medical Benefits and to provide a higher weekly benefit
                                            in respect to loss of earnings.</br>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <img src="~/image/PublicLiability/PubLiab_UPCVR_IMAGE.png" alt="..." class="rounded-lg" style="width: 90%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="pt-0">
                                <div class="bg-light" style="border-radius:5px;opacity: 0.5; font-weight:600; color:black">
                                    <div class="row pl-4" style="margin: 20px;">
                                        <div class="col-12 p-0 mb-n1 pl-2">
                                            <p style="font-size:small;">
                                                Upgrading cover is <i>Optional</i>.
                                            </p>
                                            <p style="font-size:small;">
                                                Clubs should consider the costs to players and inform members of all decisions made by the club in regard to
                                                upgrading cover.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                            <p style="font-size:small;">If you would like more information on Upgrading Cover please contact Honan on:</p>
                                        </div>
                                        <div class="col-12">
                                            <p style="font-size:small; font-weight:700">Phone: <span style="color:darkblue">+61 03 9947 4343</span></p>
                                        </div>
                                        <div class="col-12">
                                            <p style="font-size:small; font-weight:700">Email: <a class="text-decoration-none" style="color:darkblue" href="mailto:info@honan.com.au">info@honan.com.au</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
</div>

