﻿@page
@model Honan.PublicLiabilityModel
@{
    ViewData["Title"] = "PublicLiability";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section style="background-color:#22272D">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="container pt-1 pb-0">
                    <div class="row justify-content-md-end">
                        <div class="col col-lg-2 d-flex" style="padding: 0px">
                            <a class="flex-fill hover-effect text-decoration-none pr-3" asp-page="/Index">
                                <div class=" d-flex flex-column float-right justify-content-end py-2" style="font-size:small">
                                    <img src="~/image/Common/Home_ICON.svg" alt="..." class="img-title-button img-responsive" width="40" height="40">
                                </div>
                            </a>
                        </div>

                        <div class="col col-lg-2 d-flex" style="padding: 1px; padding-bottom: 4px;">
                            <a class="img-title-button card text-center border-secondary flex-fill hover-effect text-decoration-none" target="_blank" href="https://www.sportscover.com/claims/">
                                <div class="nav-secondary card-body text-dark d-flex flex-column align-items-center justify-content-center py-2" style="font-size:small">
                                    <div class="row">
                                        <div class="col">
                                            <span>
                                                Claims Form
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col col-lg-3 d-flex" style="padding:1px; padding-bottom: 4px;">
                            <a class="img-title-button card text-center flex-fill border-secondary hover-effect text-decoration-none" asp-page="PLI_CertificateOfCurrency">
                                <div class="nav-secondary card-body text-dark d-flex flex-column align-items-center justify-content-center py-2" style="font-size:small">
                                    <div class="row">
                                        <div class="col">
                                            <span>
                                                Certificate of Currency
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col col-lg-2 d-flex" style="padding:1px; padding-bottom: 4px;">
                            <a class="img-title-button card text-center  border-secondary flex-fill hover-effect text-decoration-none" asp-page="PLI_UpgradingCover">
                                <div class="nav-secondary card-body text-dark d-flex flex-column align-items-center justify-content-center py-2" style="font-size:small">
                                    <div class="row">
                                        <div class="col">
                                            <span>
                                                Upgrade Cover
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row d-flex justify-content-center spacing-row">
        <div class="container pr-0 pl-0">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 col-sm-10" style="width:100%; min-height:402px;">
            <div class="row">
                <div class="col-12 pink productPageSummaryTitle productPageSummaryTitleText">
                    <div class="row">
                        <div class="col-8  justify-content-start align-middle">
                            <img class="productPageTitleImage" src="~/image/PublicLiability/PubLiab_ICON_LG.svg" />
                            <span>Public Liability Insurance</span>
                        </div>
                        <div class="col-4">
                            <div class="row" style="font-size:smaller">
                                Insurer
                            </div>
                            <div class="row" style="font-size:x-small">
                                Sportscover Australia Pty. Ltd.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="padding:0px;">
                    <img style="width:100%" alt="..." class="rounded-lg" src="~/image/PublicLiability/PubLiab_BANNER2.png" />
                </div>
            </div>
            <div class="row productPageSummaryTitleText bluegradientbackground">
                <div class="col-12" style="font-size:medium">
                    What is Public Liability Insurance?
                </div>
                <div class="col-12" style="font-size:12px;">
                    <p>
                        Public Liability Insurance is designed to protect you and your business from legal and / or medical costs that arise from an
                        incident connected to your activities.
                    </p>
                </div>
                <div class="col-12" style="font-size:12px;">
                    <p>
                        It protects you against the financial risk of being found liable to a third party for death or injury, loss or damage to property
                        or “pure economic” loss resulting from your negligence.
                        Liability Insurance is essential to every business owner.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 pt-2 sideGreySection">
                    <div class="row">
                        <div class="col-12 subHeading">
                            Who Is Covered
                        </div>
                        <div class="col-12" style="font-size:12px">
                            Each State and Territory Association
                            Directly affiliated to Hockey Australia
                            and their affiliations, Associations and Clubs,
                            Including most individuals
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 subHeading">
                            What is Negligence
                        </div>
                        <div class="col-12" style="font-size:12px">
                            Negligence is doing something without a
                            reasonable amount of care, or failing to do
                            something which might reasonably have been
                            done to prevent the incident.
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 subHeading">
                            Did you know?
                        </div>
                        <div class="col-12" style="font-size:12px">
                            A Public Liability policy protects you anywhere
                            in Australia, and in most countries overseas.
                            But you will need to confirm this within your
                            own policy wording.
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 subHeading">
                            Hot Tip...
                        </div>
                        <div class="col-12" style="font-size:12px">
                            As soon as an incident occurs that could
                            result in a potential claim, contact Honan and
                            we can provide assistance with the claims
                            process.
                        </div>
                    </div>
                </div>
                <div class="col-8 pt-2 pl-5 mainSection">
                    <div class="row subHeading">
                        Coverage Limits & Excess
                    </div>
                    <div class="row" style="font-size:12px">
                        <div class="col-6">
                            General & Products Liability <br />
                            $20,000,000 <br />
                            (Nil Excess) <br />
                        </div>
                        <div class="col-6">
                            <form asp-page-handler="Download" method="post">
                                <input type="hidden" name="downLoadType" value="InsuranceSchedule" />
                                <input type="image" src="~/image/Common/Sched_Download_BTTN.svg" name="saveForm" class="btTxt submit rounded" id="saveForm" style="width:120px; height:40px;" />
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3" style="font-size:12px">
                        <div class="col-6">
                            Errors and Omissions <br />
                            $10,000,000 <br />
                            (Nil Excess)<br />
                        </div>
                        <div class="col-6">
                            <form asp-page-handler="Download" method="post">
                                <input type="hidden" name="downLoadType" value="PolicyWording" />
                                <input type="image" src="~/image/Common/Word_Download_BTTN.svg" name="saveForm" class="btTxt submit rounded" id="saveForm" style="width:120px; height:40px;" />
                            </form>
                        </div>
                    </div>
                    <hr />
                    <div class="row pt-1">
                        <div style="font-size:small">
                            <span>What cover is typically provided in an extended Public Liability policy?</span>
                        </div>
                        <div style="font-size:12px">
                            <b>Public Liability coverage can have up to 3 different sections;</b>
                            <br /><br />
                            <b>Public Liability</b>- legal action against the insured for breached duty of care.
                            <br />
                            <b>Products Liability</b> - legal action against the insured for sale of faulty products.
                            <br />
                            <b>Professional Indemnity</b> - legal action against the insured for negligent
                            acts / advice.
                            <br />
                            You will generally find that you are covered in all areas as part
                            of a standard Public Liability policy.
                        </div>
                    </div>
                    <hr />
                    <div class="row pt-1">
                        <div style="font-size:small">
                            <span>What cover is typically excluded from a Public Liability policy?</span>
                        </div>
                        <div style="font-size:12px">
                            If your business is not deemed to be a safe environment caused by deliberate
                            neglect then your policy may become void. In this instance, you are personally
                            liable for the financial burden of the liability claim.
                            <br />
                            Often an excess such as $500 or $1,000 will be in place.
                            <br />
                            This excess is not covered by the insurance policy.
                        </div>
                    </div>
                    <hr />
                    <div class="row pt-1">
                        <div style="font-size:small">
                            <span>Why is professional indemnity insurance important?</span>
                        </div>
                        <div style="font-size:12px">
                            Professional Indemnity insurance is designed to cover you in the event of a claim made against you because of professional negligence caused by mistakes, bad advice or poor workmanship.
                            <br />
                            It provides indemnity cover if a person suffers a loss - either material, financial or physical - directly attributed to negligent acts..
                        </div>
                    </div>
                    <hr />
                    <div class="row pt-1">
                        <div style="font-size:small">
                            <span>Examples of Public Liability Claims</span>
                        </div>
                        <div style="font-size:12px">
                            <b>Example 1</b> - a sporting participant sustains a knee injury after tripping in a pothole on a sports field whilst participating in a game.  He sues the club for failing to provide a duty of care to the participants and their playing conditions.
                            <br />
                            <br />
                            <b>Example 2</b> - a club member is having a drink in the club house and the bar stool he is sitting on collapses from underneath him.  He suffers personal injury and sues the club for negligence.
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center spacing-row">
        <div class="container pr-0 pl-0">
        </div>
    </div>
</section>

