﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-primary {
    -ms-flex: 0 0 170px;
    flex: 0 0 170px;
}

.img-button:hover {
    box-shadow: 2px 2px 2px #C6C6C6;
}

.img-title-button:hover {
    box-shadow: 2px 2px 2px #C6C6C6;
    border-width: 0px;
}

.btTxt:hover {
    box-shadow: 2px 2px 2px #C6C6C6;
}

.spacing-row {
    background-color: white;
    min-height: 20px;
    height: 20px;
}

@font-face {
    font-family: 'DINOT-Medium';
    src: url('/fonts/DINOT-Medium.ttf') format("truetype"); /* Make sure your file location is right */
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
   
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 35px;
    font-family: 'DINOT-Medium';
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:1.5em;
  white-space: nowrap;
  line-height: 10px; /* Vertically center the text there */
}

.contactDetails {
    height: 158px;
    min-height: 158px;
    font-size: 12px;
}

.commonfootersection {
    position: absolute;
    bottom: 2.5em;
    width: 100%;
    white-space: nowrap;
}

.homePageBannerbackground {
    background-image: url(/image/Index/Insurance_Home_Page_BG.png);
    background-position: top;
    background-repeat: repeat-x; /* Do not repeat the image */
    background-size: contain;
}

.downloadButton {
    background: url(/image/Download_BTTN.svg) no-repeat top left;
    background-size: auto;
    cursor: pointer;
    display: inline-block;
    height: 95px;
    width: 110px;
}

/* Colours */
.pink {
    background-color: #ed196a;
    height:49px;
}
.backgroundGradient {
    background-image: linear-gradient(to right, rgba(62, 98, 233, 1) 0%, rgba(230, 46, 82, .7) 100%);
}
.blueGradient {
    background-image: linear-gradient(to right, #36409a 0% ,#000 100%);
}
.bluegradientbackground {
    background-image: linear-gradient(90deg, rgba(8,8,97,1) 26%, rgba(3,10,51,1) 53%);
}
.subHeading {
    font-size: 16.5px;
}
.sideGreySection {
    background-color: #e2e6e9;
}
.mainSection {
    background-color: #ffffff;
}

/* Product Page Formatting - Summary is the top section */
.productPageSummaryTitle {
    min-height: 49px;
    height: 49px;
    border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
}

.productPageSummaryTitleText {
   color: white;
}

.productPageBanner {
    min-height: 200px;
    height: 200px;
    width: 545px;
    min-width: 545px;
}

.productPageTitleImage {
    min-height: 27px;
    height: 27px;
    min-width: 27px;
    width: 37px;
    margin-top: 10px;
    margin-left: 0px;
}

.productPageSummary {
    min-height: 150px;
    height: 150px;
    background-color: blue;
}
/* Detail sections are the two column section within the product pagee */
.productPageDetailTitleText {
    min-height: 80px;
    height: 80px;
}

.productPageDetailText{
    margin-bottom: 20px;
}

.productPageDetailSubTitleText{
    font-style: italic;
}

productPageDetailBorder{
    border-bottom-style: double;
}

