﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section style="background-color:#22272D;">
        <div class="container pt-1 pb-1" >
            <div class="row justify-content-md-center">
                <div class="col col-lg-2 d-flex" style="padding:3px; min-width: 200px;">
                    <a class="nav-primary card text-center border-secondary flex-fill hover-effect text-decoration-none img-title-button" asp-page="/PublicLiability/PublicLiabilityInsurance">
                        <div class="card-body text-dark d-flex flex-column align-items-center justify-content-center py-2" style="font-size:small">
                            <div class="row">
                                <div class="col-1">
                                    <img src="~/image/PublicLiability/PubLiab_ICON.svg" alt="" width="30" height="30" />
                                </div>
                                <div class="col">
                                    <span>
                                        Public Liability Insurance
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col-lg-2 d-flex" style="padding:3px;min-width: 200px;">
                    <a class="nav-primary card text-center flex-fill border-secondary hover-effect text-decoration-none img-title-button" asp-page="/ClubManagement/ClubLiabilityInsurance">
                        <div class="card-body text-dark d-flex flex-column align-items-center justify-content-center py-2" style="font-size:small">
                            <div class="row">
                                <div class="col-1">
                                    <img src="~/image/ClubManagement/ClubMan_ICON.svg" alt="" width="30" height="30" />
                                </div>
                                <div class="col">
                                    <span>
                                        Club Management Liability Insurance
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col-lg-2 d-flex" style="padding:3px;min-width: 200px;">
                    <a class="nav-primary card text-center  border-secondary flex-fill hover-effect text-decoration-none img-title-button" asp-page="/PersonalInjury/PersonalInjuryInsurance">
                        <div class="card-body text-dark d-flex flex-column align-items-center justify-content-center py-1" style="font-size:small">
                            <div class="row">
                                <div class="col-1">
                                    <img src="~/image/PersonalInjury/PersInjure_ICON.svg" alt="" width="30" height="30"/>
                                </div>
                                <div class="col">
                                    <span>
                                        Personal Injury Insurance
                                    </span>
                                </div>
                            </div>
                           
                        </div>
                    </a>
                </div>
            </div>
        </div>
 </section>
<section>
    <div class="row d-flex justify-content-center spacing-row">
        <div class="container pr-0 pl-0">
        </div>
    </div>
    <div class="row d-flex justify-content-center homePageBannerbackground">
        <div class="container pr-0 justify-content-center" style="width:51%;font-family:sans-serif;">
            <img src="~/image/Index/Insurance Home Page Banner_transp 715x315.png" alt="..." class="img-responsive" style="width:715px; min-height:316px">
        </div>
    </div>
    <div class="row d-flex justify-content-center spacing-row">
        <div class="container pr-0 pl-0">
        </div>
    </div>
    <div class="pt-2 pb-2" style="background-color:#EDEDED">
        <div class="row d-flex justify-content-center" style="background-color:#EDEDED">
            <div class="row">
                <div class="col pr-2">
                    <a href="https://hockey.org.au/" target="_blank">
                        <img src="~/image/Logos/AU.svg" alt="..." class="img-responsive img-button" width="80" height="68">
                    </a>
                </div>
                <div class="col pr-2">
                    <a href="https://hockeyact.org.au/" target="_blank">
                        <img src="~/image/Logos/ACT.svg" alt="..." class="img-responsive img-button" width="80" height="68">
                    </a>
                </div>
                <div class="col pr-2">
                    <a href="https://www.hockeynsw.com.au/home/" target="_blank">
                        <img src="~/image/Logos/NSW.svg" alt="..." class="img-responsive img-button" width="80" height="68">
                    </a>
                </div>
                <div class="col pr-2">
                    <a href="http://www.hockeynt.asn.au/" target="_blank">
                        <img src="~/image/Logos/NT.svg" alt="..." class="img-responsive img-button" width="80" height="68">
                    </a>
                </div>
                <div class="col pr-2">
                    <a href="https://hockeyqld.com.au/" target="_blank">
                        <img src="~/image/Logos/QLD.svg" alt="..." class="img-responsive img-button" width="80" height="68">
                    </a>
                </div>
                <div class="col pr-2">
                    <a href="https://hockeysa.com.au/" target="_blank">
                        <img src="~/image/Logos/SA.svg" alt="..." class="img-responsive img-button" width="80" height="68">
                    </a>
                </div>
                <div class="col pr-2">
                    <a href="https://hockeytasmania.com.au/" target="_blank">
                        <img src="~/image/Logos/TAS.svg" alt="..." class="img-responsive img-button" width="80" height="68">
                    </a>
                </div>
                <div class="col pr-2">
                    <a href="https://hockeyvictoria.org.au/" target="_blank">
                        <img src="~/image/Logos/VIC.svg" alt="..." class="img-responsive img-button" width="80" height="68">
                    </a>
                </div>
                <div class="col pr-2">
                    <a href="https://hockeywa.org.au/" target="_blank">
                        <img src="~/image/Logos/WA.svg" alt="..." class="img-responsive img-button" width="80" height="68">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-light" style="height:2em;">
       <div class="container">
           &nbsp;
       </div>
    </div>
</section>



