﻿@page
@model Honan.PersonalInjuryInsuranceModel
@{
    ViewData["Title"] = "PersonalInjuryInsurance";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section style="background-color:#22272D">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="container pt-1 pb-0">
                    <div class="row justify-content-md-end">
                        <div class="col col-lg-2 d-flex" style="padding: 0px">
                            <a class="flex-fill hover-effect text-decoration-none pr-3" asp-page="/Index">
                                <div class=" d-flex flex-column float-right justify-content-end py-2" style="font-size:small">
                                    <img src="~/image/Common/Home_ICON.svg" alt="..." class="img-title-button img-responsive" width="40" height="40">
                                </div>
                            </a>
                        </div>

                        <div class="col col-lg-2 d-flex" style="padding: 1px; padding-bottom: 4px;">
                            <a class="img-title-button card text-center border-secondary flex-fill hover-effect text-decoration-none" asp-page="PI_Claims">
                                <div class="nav-secondary card-body text-dark d-flex flex-column align-items-center justify-content-center py-2" style="font-size:small">
                                    <div class="row">
                                        <div class="col">
                                            <span>
                                                Claims Form
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col col-lg-3 d-flex" style="padding:1px; padding-bottom: 4px;">
                            <a class="img-title-button card text-center flex-fill border-secondary hover-effect text-decoration-none" asp-page="PI_CertificateOfCurrency">
                                <div class="nav-secondary card-body text-dark d-flex flex-column align-items-center justify-content-center py-2" style="font-size:small">
                                    <div class="row">
                                        <div class="col">
                                            <span>
                                                Certificate of Currency
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col col-lg-2 d-flex" style="padding:1px; padding-bottom: 4px;">
                            <a class="img-title-button card text-center  border-secondary flex-fill hover-effect text-decoration-none" asp-page="PI_UpgradingCover">
                                <div class="nav-secondary card-body text-dark d-flex flex-column align-items-center justify-content-center py-2" style="font-size:small">
                                    <div class="row">
                                        <div class="col">
                                            <span>
                                                Upgrade Cover
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row d-flex justify-content-center spacing-row">
        <div class="container pr-0 pl-0">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 col-sm-10" style="width:100%; min-height:402px;">
            <div class="row">
                <div class="col-sm pink productPageSummaryTitle productPageSummaryTitleText">
                    <div class="row">
                        <div class="col-8  justify-content-start align-middle">
                            <img class="productPageTitleImage" src="~/image/PersonalInjury/PersInjure_ICON_LG.svg" />
                            <span>Personal Injury Insurance</span>
                        </div>
                        <div class="col-4">
                            <div class="row" style="font-size:smaller">
                                Insurer
                            </div>
                            <div class="row" style="font-size:12px">
                                Sportscover Australia Pty. Ltd.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12" style="padding: 0px;">
                    <img style="width:100%" src="~/image/PersonalInjury/PersInjury_BANNER2.png" />
                </div>
            </div>

            <div class="row productPageSummaryTitleText bluegradientbackground">
                <div class="col-12" style="font-size:medium">
                    What is Personal Injury Insurance?
                </div>
                <div class="col-12" style="font-size:12px">
                    <p>
                        Accidents.  We never see them coming.
                    </p>
                </div>
                <div class="col-12" style="font-size:12px;">
                    <p>
                        But you can be better prepared with the right personal accident insurance policy.
                        Personal Injury Insurance is designed to offer some peace of mind to members, participants and volunteers of an organisation by having protection for certain costs related to an injury sustained whilst involved in an insured’s activity.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 pt-2 sideGreySection">
                    <div class="row">
                        <div class="col-12 subHeading">
                            Who Is Covered
                        </div>
                        <div class="col-12" style="font-size:12px">
                            Players, coaches, trainers, umpires, officials,
                            volunteers.
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 subHeading">
                            What is generally covered
                        </div>
                        <div class="col-12" style="font-size:12px">
                            Physio<br />
                            Chiro<br />
                            Dental<br />
                            Ambulance Transport<br />
                            Public Hospital Accommodation
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 subHeading">
                            What is generally NOT covered
                        </div>
                        <div class="col-12" style="font-size:12px">
                            Doctor’s Fees<br />
                            Surgeon’s Fees<br />
                            Anesthetist Fees<br />
                            X-rays<br />
                            Public Hospital Costs<br />
                            MRI Scans
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 subHeading">
                            You can’t claim if you...
                        </div>
                        <div class="col-12" style="font-size:12px">
                            Play against medical advice<br />
                            Have a pre-existing injury<br />
                            Are under the influence of alcohol
                            or drugs<br />
                            Are involved in a criminal act<br />
                            Have a pre-existing illness or
                            disease (i.e cancer, heart condition)
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 subHeading">
                            Quick Note
                        </div>
                        <div class="col-12" style="font-size:12px">
                            MRI scans are generally claimable through Medicare, however sometimes the referrer and/or provider is not registered with Medicare. In this case, you can claim through your Personal Accident Policy.
                        </div>
                    </div>
                </div>
                <div class="col-8 pt-2 pl-5 mainSection">
                    <div class="row subHeading">
                        Coverage Limits & Excess
                    </div>
                    <div class="row" style="font-size:12px">
                        <div class="col-6">
                            Capital Benefits <br />
                            $250,000 maximum <br />
                            $15,000 maximum (Under 18)
                        </div>
                        <div class="col-6">
                            <form asp-page-handler="Download" method="post">
                                <input type="hidden" name="downLoadType" value="InsuranceSchedule" />
                                <input type="image" src="~/image/Common/Sched_Download_BTTN.svg" name="saveForm" class="btTxt submit rounded" id="saveForm" style="width:120px; height:40px;" />
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3" style="font-size:12px">
                        <div class="col-6">
                            Non-Medicare Medical Expenses <br />
                            75% reimbursement <br />
                            $3,500 maximum per claim <br />
                            ($100 Excess)<br />
                        </div>
                        <div class="col-6">
                            <form asp-page-handler="Download" method="post">
                                <input type="hidden" name="downLoadType" value="PolicyWording" />
                                <input type="image" src="~/image/Common/Word_Download_BTTN.svg" name="saveForm" class="btTxt submit rounded" id="saveForm" style="width:120px; height:40px;" />
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3" style="font-size:12px">
                        <div class="col-6">
                            Loss of Income <br />
                            80% up to maximum $350 per week<br />
                            $3,500 maximum per claim <br />
                            14 day elimination period<br />
                            52 week benefit period<br />
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row mt-3" style="font-size:12px">
                        <div class="col-6">
                            Injury Assistance <br />
                            $1,500 maximum limit per claim<br />
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <hr />
                    <div class="row pt-1">
                        <div style="font-size:small">
                            <span>What cover is typically provided in an this policy?</span>
                        </div>
                        <div style="font-size:12px">
                            <b>When does Personal Injury Insurance apply?</b>
                        </div>
                        <div style="font-size:12px">
                            Personal Accident insurance provides coverage for injuries sustained whilst
                            participating in an activity under the following circumstances;
                            <ul>
                                <li>An official match or training session</li>
                                <li>Traveling to and from an official club activity</li>
                                <li>Participation in an official club function</li>
                                <li>Tours or representative matches</li>
                            </ul>

                        </div>
                    </div>
                    <hr />
                    <div class="row pt-1">
                        <div style="font-size:small">
                            <span>What cover is typically excluded from a Personal Liability policy?</span>
                        </div>
                        <div style="font-size:12px">
                            <b>Public Liability</b> - provides you with cover in the event of death or permanent disability.  Refer to your Programme Summary for full benefit details and limits.<br />
                            <b>Non-Medicare Medical Benefits</b> - provides reimbursement for items that are not claimable in any way through Medicare.  Due to legislation, this does not include the Medicare Gap.<br />
                            <b>Loss of Income Cover</b> - (where included) provides reimbursement of a claimants’ weekly income.  Please refer to your Programme Summary for full benefit details and limits.<br />
                        </div>
                    </div>
                    <hr />
                    <div class="row pt-1">
                        <div style="font-size:small">
                            <span>Examples of Personal Injury Claims</span>
                        </div>
                        <div style="font-size:12px">
                            <b>Capital Benefit</b> - a participant loses permanent sight in one eye due to a ball hitting him.  The claimant can claim for permanent disablement under this section<br />
                            <br />
                            <b>Non-Medicare Medical Benefits</b> - a participant requires a knee reconstruction resulting from a sporting injury.  A claim can be made through this section of the policy for items not covered in part by Medicare.<br />
                            <br />
                            <b>Loss of Income</b>(where covered by the sport) - Bill is a builder and is unable to work due to breaking his leg whilst playing.  His loss of earnings (not including sick leave) can be claimed under this section of the policy.<br />
                        </div>
                    </div>
                    <hr />
                    <div class="row pt-1">
                        <div style="font-size:small">
                            <span>When does Personal Injury Insurance apply?</span>
                        </div>
                        <div style="font-size:12px">
                            <b>Step 1</b> - access a current claim form from the Honan website<br />
                            <b>Step 2</b> - complete all relevant sections of the claim form<br />
                            <b>Step 3</b> - send your claim form to your nominated claims advisor ASAP<br />
                            <b>Step 4</b> - your claims advisor will confirm receipt of your claim<br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center spacing-row">
        <div class="container pr-0">
        </div>
    </div>
</section>


