﻿@page
@model Honan.Pages.PersonalInjury.PI_ClaimsModel
@{
    ViewData["Title"] = "PI_Claims";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    <section class="justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="container justify-content-end">
                        <div style="float:right;width:auto;overflow:hidden;padding-top:1em">
                            <a class="hover-effect text-decoration-none pr-2" asp-page="PersonalInjuryInsurance">
                                <div class="d-flex flex-column py-2" style="font-size:small">
                                    <img src="~/image/Common/Back_ICON.svg" alt="..." class="img-title-button img-responsive" width="40" height="40">
                                </div>
                            </a>
                        </div>
                        <div style="float:right;width:auto;overflow:hidden;padding-right:1em;padding-top:1em">
                            <a class="hover-effect text-decoration-none pr-3 pt-3" asp-page="/Index">
                                <div class=" d-flex flex-column py-2" style="font-size:small">
                                    <img src="~/image/Common/Home_ICON.svg" alt="..." class="img-title-button img-responsive" width="40" height="40">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="container pb-0" style="margin:20px;">
                        <div class="row pb-0 blueGradient">
                            <div class="col-12 p-0 mb-n4 blueGradient" style="z-index:10;">
                                <div class="row text-white">
                                    <div class="col" style="margin: 20px;">
                                        <div style="font-size: 26px;">
                                            Personal Injury Insurance
                                        </div>
                                        <div style="font-size: 26px;">
                                            Making a Claim
                                        </div>
                                        <div style="font-size: 12px;">
                                            </br>
                                            </br>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <img src="~/image/PersonalInjury/PersInjury_MAC_HEADER2.png" alt="..." class="rounded-lg" style="width: 80%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-n4">
                            <div class="col-12 pl-0 pr-0 bg-light">
                                <div class="card border-dark pt-0 pl-0 border-left-0 border-right-0 border-top-0">
                                    <div class="card-header bg-dark text-white">
                                        How to make a claim for Personal Injury
                                    </div>
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <p style="font-size:small; font-weight:700">
                                                        If you were injured prior to 31 December 2019
                                                        <br/>
                                                        <br/>
                                                        <form asp-page-handler="Download" method="post">
                                                            <input type="hidden" name="downLoadType" value="ClaimForm" />
                                                            <input type="image" src="~/image/Common/Download_BTTN.svg" name="saveForm" class="btTxt submit rounded" id="saveForm" style="width:120px; height:40px;" />
                                                        </form>
                                                    </p>
                                                </div>
                                                <div class="col">
                                                    <p style="font-size:small; font-weight:700">
                                                        If you were injured on or after 1 January 2020<br /><br />
                                                        <div class="text-center" style="width:120px; height:40px;">
                                                            <a href="https://au.sportscover.com/claimrequest/pa?client=HockeyAustralia" target="_blank">
                                                                <input type="image" src="~/image/PersonalInjury/FileClaim_BTTN2.svg" name="ClaimSite" class="btTxt submit rounded" id="ClaimSite" />
                                                            </a>
                                                        </div>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <p style="font-size:small; font-weight:700">If you need any assistance completing a claim, please contact Honan for assistance.</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <p style="font-size:small; font-weight:700">Phone: <span style="color:darkblue">+61 03 9947 4343</span></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <p style="font-size:small; font-weight:700">Email: <a class="text-decoration-none" style="color:darkblue" href="mailto:info@honan.com.au">info@honan.com.au</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
</div>