﻿@page
@model Honan.ClubLiabilityInsuranceModel
@{
    ViewData["Title"] = "ClubLiabilityInsurance";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section style="background-color:#22272D">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="container pt-1 pb-0">
                    <div class="row justify-content-md-end">
                        <div class="col col-lg-2 d-flex" style="padding: 0px">
                            <a class="flex-fill hover-effect text-decoration-none pr-3" asp-page="/Index">
                                <div class=" d-flex flex-column float-right justify-content-end py-2" style="font-size:small">
                                    <img src="~/image/Common/Home_ICON.svg" alt="..." class="img-title-button img-responsive" width="40" height="40">
                                </div>
                            </a>
                        </div>

                        <div class="col col-lg-2 d-flex" style="padding: 1px; padding-bottom: 4px;">
                            <a class="img-title-button card text-center border-secondary flex-fill hover-effect text-decoration-none" target="_blank" href="https://www.sportscover.com/claims/">
                                <div class="nav-secondary card-body text-dark d-flex flex-column align-items-center justify-content-center py-2" style="font-size:small">
                                    <div class="row">
                                        <div class="col">
                                            <span>
                                                Claims Form
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col col-lg-3 d-flex" style="padding:1px; padding-bottom: 4px;">
                            <a class="img-title-button card text-center flex-fill border-secondary hover-effect text-decoration-none" asp-page="CLI_CertificateOfCurrency">
                                <div class="nav-secondary card-body text-dark d-flex flex-column align-items-center justify-content-center py-2" style="font-size:small">
                                    <div class="row">
                                        <div class="col">
                                            <span>
                                                Certificate of Currency
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col col-lg-2 d-flex" style="padding:1px; padding-bottom: 4px;">
                            <a class="img-title-button card text-center  border-secondary flex-fill hover-effect text-decoration-none" asp-page="CLI_UpgradingCover">
                                <div class="nav-secondary card-body text-dark d-flex flex-column align-items-center justify-content-center py-2" style="font-size:small">
                                    <div class="row">
                                        <div class="col">
                                            <span>
                                                Upgrade Cover
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row d-flex justify-content-center spacing-row">
        <div class="container pr-0 pl-0">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 col-sm-10" style="width:100%; min-height:402px;">
            <div class="row">
                <div class="col-sm pink productPageSummaryTitle productPageSummaryTitleText">
                    <div class="row">
                        <div class="col-8  justify-content-start align-middle">
                            <img class="productPageTitleImage" src="~/image/ClubManagement/ClubMan_ICON_LG.svg" />
                            <span>Club Management Liability Insurance</span>
                        </div>
                        <div class="col-4">
                            <div class="row" style="font-size:smaller">
                                Insurer
                            </div>
                            <div class="row" style="font-size:12px">
                                Sportscover Australia Pty. Ltd.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12" style="padding: 0px;">
                    <img style="width:100%" src="~/image/ClubManagement/ClubMan_BANNER_2.png" />
                </div>
            </div>

            <div class="row productPageSummaryTitleText bluegradientbackground">
                <div class="col-12" style="font-size:medium">
                    What is Club Management and Professional Liability Insurance?
                </div>
                <div class="col-12" style="font-size:12px">
                    <p>
                        When you give your time an energy to a club, you want to make certain you are not risking your personal or the organisation’s financial security.  That’s why you need a Management and Professional insurance policy.  It provides protection for you and the organisation in the event of legal action.

                    </p>
                </div>
                <div class="col-12" style="font-size:12px;">
                    <p>
                        The insurance addresses exposures//wrongdoings clubs and associations face everyday, including;
                        discrimination, harassments, wrongful termination, inefficient administration or supervision, libel and slander, misrepresentations
                        and employee theft.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 pt-2 sideGreySection">
                    <div class="row">
                        <div class="col-12 subHeading">
                            Who Is Covered
                        </div>
                        <div class="col-12" style="font-size:12px">
                            All incorporated hockey clubs, affiliations and
                            associations of each State and Territory.

                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 subHeading">
                            Dont't forget
                        </div>
                        <div class="col-12" style="font-size:12px">
                            Management & Professional Liability insurance
                            is ONLY available to incorporated entities!
                            If your club is not incorporated, individual
                            committee members run the risk of exposing
                            their home, car and financial assets.

                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 subHeading">
                            Hot Tip...
                        </div>
                        <div class="col-12" style="font-size:12px">
                            It is strongly recommended that you implement
                            a programme to ensure that all claims are
                            Identified and notified immediately and within
                            the policy period to avoid the possibility of a
                            claim being denied.
                        </div>
                    </div>
                </div>
                <div class="col-8 pt-2 pl-5 mainSection">
                    <div class="row subHeading">
                        Coverage Limits & Excess
                    </div>
                    <div class="row" style="font-size:12px">
                        <div class="col-6">
                            Directors & Officers <br />
                            $3,000,000 <br />
                            (Nil Excess)
                        </div>
                        <div class="col-6">
                            <form asp-page-handler="Download" method="post">
                                <input type="hidden" name="downLoadType" value="InsuranceSchedule" />
                                <input type="image" src="~/image/Common/Sched_Download_BTTN.svg" name="saveForm" class="btTxt submit rounded" id="saveForm" style="width:120px; height:40px;" />
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3" style="font-size:12px">
                        <div class="col-6">
                            Employment Practices <br />
                            $500,000 <br />
                            ($25,000 Excess)<br />
                        </div>
                        <div class="col-6">
                            <form asp-page-handler="Download" method="post">
                                <input type="hidden" name="downLoadType" value="PolicyWording" />
                                <input type="image" src="~/image/Common/Word_Download_BTTN.svg" name="saveForm" class="btTxt submit rounded" id="saveForm" style="width:120px; height:40px;" />
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3" style="font-size:12px">
                        <div class="col-6">
                            Commercial Crime <br />
                            $500,000 <br />
                            ($25,000 Excess)<br />
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <hr />
                    <div class="row pt-1">
                        <div style="font-size:small">
                            <span>Coverage provided within a Management and Professional Liability</span>
                        </div>
                        <div style="font-size:12px">
                            <b>Directors and Officers Liability</b> - coverage for any wrongful act including a criminal charge, defamation, civil proceeding or fraudulent act.
                            <br />
                            <b>Employment Practices Liability</b> - includes wrongful dismissal, discrimination or unlawful acts in the workplace.
                            <br />
                            <b>Employee Theft Coverage</b>
                        </div>
                    </div>
                    <hr />
                    <div class="row pt-1">
                        <div style="font-size:small">
                            <span>Examples of Management and Professional Liability Claims</span>
                        </div>
                        <div style="font-size:12px">
                            <b>
                                Directors and Officers Liability
                            </b> - legal action is taken against the club for defamation of a club member.  This came about as a result of information printed in the monthly club newsletter.<br />
                            <b>
                                Employment Practices Liability
                            </b> - legal action is taken against the club for the unfair dismissal of a senior coach.<br />
                            <br />
                            <b>
                                Employee Theft Coverage
                            </b> - the club treasurer has been stealing money from the accounts over a period of time and the club now needs to claim losses.<br />
                            <br />
                        </div>
                    </div>
                    <hr />
                    <div class="row pt-1">
                        <div style="font-size:small">
                            <span>Important Note</span>
                        </div>
                        <div style="font-size:12px">
                            The Directors and Officers and Employment Practices Liability sections of this policy are written on a ‘Claims Made Basis.’  This means that coverage is provided for claims that are notified to the insurer during the period of cover.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center spacing-row">
        <div class="container pr-0 pl-0">
        </div>
    </div>
</section>