﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Honan</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-1">
            <div class="container" style="margin-left: 46.5px;">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/image/Common/Honan_LOGO.svg" alt="Honan" width="172" height="58" />
                </a>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="backgroundGradient">
            @RenderBody()
        </main>

        <section style="background-color: #22272D;font-size:xx-small;min-height:158px;" class="contactDetails justify-content-center"">
            <div class="container contactDetails" style="padding-top: 0px; background-color: #22272D; color:#8F9396;font-size:12px;">
                <div class="row" style="background-color: #22272D;">
                    &nbsp;
                </div>
                <div class="row justify-content-center"" style="background-color: #22272D;">
                    <div class="col-md-3 col-sm-2">

                    </div>
                    <div class="col-md-4 col-sm-4 text-left">
                        <div class="row font-weight-normal text-right">
                            <span style="color:#C6C6C6;">Contact Us</span>
                        </div>
                        <div class="row text-left">
                            <span>Honan Sport</span>
                        </div>
                        <div class="row text-left">
                            <span>Melbourne</span>
                        </div>
                        <div class="row text-left">
                            <span>Tel: +61 03 9947 4366</span>
                        </div>
                        <div class="row text-left">
                            <span><a class="text-decoration-none" style="color:grey" href="mailto:info@honan.com.au">Email: info@honan.com.au</a></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 ">
                        <div class="row font-weight-normal text-left">
                            <span style="color: #C6C6C6;">Policies Information</span>
                        </div>
                        <div class="row text-left">
                            <a href="https://honan.com.au/app/uploads/2019/08/HonanFSG_V11.2018-1.pdf" target="_blank" style="color:#8F9396"> <span>Financial Services Guide</span></a>
                        </div>
                        <div class="row text-left">
                            <a href="https://honan.com.au/terms-of-use-2/" target="_blank" style="color:#8F9396"> <span>Terms of Use</span></a>
                        </div>
                        <div class="row text-left">
                            <a href="https://honan.com.au/privacy-policy/" target="_blank" style="color:#8F9396"> <span>Privacy Policy</span></a>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1">

                    </div>
                </div>

                <div class="row" style="background-color: #22272D;">
                    &nbsp;
                </div>
                <div class="row" style="background-color: #22272D;">
                    <div class="col text-center">
                        <p>© 2020 Honan Insurance Group Pty. Ltd. - ABN 67 005 372 396. AFS License #246 749</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="footer text-muted mt-3" >
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="font-weight-normal text-sm-left text-md-center" style="font-size:x-small;">
                            Any advice on this website is general advice only. Please read the relevant Product Disclosure Statement to decide whether it suits your needs.<br />
                            The Product Disclosure Statements can be found within each Policies Web Page or directly from Honan. Honan is also happy to provide you with further information if required.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
